@import "~variables";
@import "~bootstrap/scss/dropdown";

.night {
  .dropdown-menu {

    color: $body-color--night;
    border-color: $dropdown-border-color--night;
    background-color: $dropdown-bg--night;
    @include box-shadow($dropdown-box-shadow--night);
  }

  .dropdown-divider {
    @include nav-divider($dropdown-divider-bg);
  }

  .dropdown-item {
    color: $dropdown-link-color--night;
    background-color: transparent;

    @include hover-focus {
      color: $dropdown-link-hover-color--night;
      @include gradient-bg($dropdown-link-hover-bg--night);
    }

    &.active,
    &:active {
      color: $dropdown-link-active-color--night;
      @include gradient-bg($dropdown-link-active-bg--night);
    }
  }

  // Dropdown section headers
  .dropdown-header {
    color: $dropdown-header-color--night;
  }

  // Dropdown text
  .dropdown-item-text {
    color: $dropdown-link-color--night;
  }
}
