@import "~variables";

@mixin form-control-focus--night() {
  &:focus {
    color: $input-focus-color--night;
    background-color: $input-focus-bg--night;
    border-color: $input-focus-border-color--night;
    outline: 0;
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $input-box-shadow--night, $input-focus-box-shadow--night;
    } @else {
      box-shadow: $input-focus-box-shadow--night;
    }
  }
}


.night {
  .form-control {
    color: $input-color--night;
    background-color: $gray-100--night;
    border-color: $input-border-color--night;

    @include box-shadow($input-box-shadow--night);

    @include form-control-focus--night();

    // Placeholder
    &::placeholder {
      color: $input-placeholder-color--night;
    }

  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg--night;
  }
  }

  .select.form-control {
    &:focus::-ms-value {
      color: $input-color--night;
      background-color: $input-bg--night;
    }
  }
}
