:global .input-group > .input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
}

:global .input {
  position: relative;
}

:global .input-group .input:not(:last-child) input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
