@import 'variables';

@value primary: #{$primary};
@value secondary: #{$secondary};
@value info: #{$info};
@value success: #{$success};
@value warning: $warning;
@value danger: #{$danger};


:global {
  .rc-slider {
    height: $progress-height;
    padding: 0;
  }

  .rc-slider-rail {
    height: $progress-height;
    background-color: $progress-bg;
    border-radius: $progress-border-radius;
    .night & {
      background-color: $progress-bar-bg--night;
    }
  }

  .rc-slider-track {
    height: $progress-height;
    background-color: $progress-bar-bg;
    border-radius: $progress-border-radius;
    .night & {
      background-color: $progress-bar-bg--night;
    }
  }

  .rc-slider-handle {
    border: none;
    border-radius: 0.3rem;
    height: 2rem;
    width: 2rem;
    //margin-left: -1rem;
    margin-top: -0.5rem;
    background-color: $primary;
    opacity: 1;
    .night & {
      background-color: $primary--night;
    }

    z-index: 0;
    &:focus {
      box-shadow: $btn-focus-box-shadow;
      .night & {
        box-shadow: $btn-focus-box-shadow--night;
      }
      border-color: transparent;
    }

    &:active {
      box-shadow: $btn-active-box-shadow;
      .night & {
        box-shadow: $btn-focus-box-shadow--night;
      }
    }

    &:hover {
      z-index: 1; // hack for dice slider
      background-color: darken($primary, 7.5%);
      .night & {
        background-color: darken($primary--night, 7.5%);
      }
    }
  }
  .rc-handle-click-focus {
    cursor: grabbing !important;
  }
}
