@import "~variables";

.games {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.gamesList {
  display: flex;
  justify-content: space-around;
}

.gamesListEntry {
  flex: 1 1 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(0.25rem + 0.5vw);
  padding: 1rem;

  &_disabled {
    opacity: 0.25;
  }

  &_enabled {
    transition: all .2s ease-in-out;
    &:hover {
      text-decoration: none;
      transform: scale(1.05);
    }
  }

  &__img {
    margin-bottom: 1rem;
    color: $primary;
  }
  &__text {
    text-align: center;
  }
}
