{
  "presets": [
        ["env", {
            "useBuiltIns": true,
            "targets": {
                "browsers": [">1%", "last 2 versions"]
            },
            "debug": true
        }],
        "react",
        "flow"],
    "plugins": ["babel-plugin-transform-object-rest-spread", "transform-class-properties"]
}
