{
  "extends": "stylelint-config-recommended-scss",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": ["global"]
    }],
    "scss/at-rule-no-unknown": [true, {
      "ignoreAtRules": ["value"]
    }],
    "scss/no-global-function-names": null,
    "no-descending-specificity":null
  }
}
