@import '~variables';

.overview {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__stats {
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__statEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__entryHeader {
    @include label-header;
  }
}
