@import "~variables";

.wrapper {
  @include background-color("200");
  display: flex;
  justify-content: center;
  width: 100%;
}

.plinkoGrid {
  padding: $spacer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 40rem;
}

.plinko {
  display: inline-block;
}

@value font #{$font-family-sans-serif};

//.colorStrip {
//  position: absolute;
//  height: 100%;
//  width: 100%;
//  left: 0;
//  right: 0;
//  top: 0;
//  transform: translateY(80%);
//  transition-duration: 0.15s;
//  transition-timing-function: ease-out;
//  transition-property: transform;
//}
//
//.colorStrip_show {
//  transform: translateY(0%);
//}
//
//@function mix3($color1, $color2, $color3, $mix) {
//  $color12: mix($color1, $color2, max($mix - 50, 0) * 2);
//  @return mix($color12, $color3, min($mix * 2, 100));
//}
//
//@for $i from 0 through 8 {
//  .colorStrip-16-#{$i} {
//    background-color: mix3($red, $yellow, $green, (1 - $i / 8) * 100);
//    :global(.night) & {
//      background-color: mix3($red--night, $yellow--night, $green--night, (1 - $i / 8) * 100);
//    }
//  }
//}
//
//@for $i from 0 through 6 {
//  .colorStrip-12-#{$i} {
//    background-color: mix3($red, $yellow, $green, (1 - $i / 6) * 100);
//    :global(.night) & {
//      background-color: mix3($red--night, $yellow--night, $green--night, (1 - $i / 6) * 100);
//    }
//  }
//}
//
//@for $i from 0 through 4 {
//  .colorStrip-8-#{$i} {
//    background-color: mix3($red, $yellow, $green, (1 - $i / 4) * 100);
//    :global(.night) & {
//      background-color: mix3($red--night, $yellow--night, $green--night, (1 - $i / 4) * 100);
//    }
//  }
//}