@import "variables";

.payoutTable {
  display: flex;
  justify-content: space-around;
  border-radius: 0.5rem;
  margin: 0.5rem;
  font-weight: bolder;
  background-color: var(--bs-body-bg);
  color: var(--bs-secondary);
}

@include media-breakpoint-down(sm) {
  .payoutTable {
    font-size: 0.9em;
  }
}

@include media-breakpoint-down(xs)  {
  .payoutTable {
    font-size: 0.6em;
    border-radius: 0.25rem;
  }
}


.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.entry_won {
  background-color: var(--bs-success);
  color: white;
}

.entry_lost {
  background-color: var(--bs-danger);
  color: white;
}