@import "variables";

.ui {
  @include background-color("200");
}

.menu {
  padding: 1rem;
  height: 100%;
  @include background-color("white");
}

.grid {
  position: relative;
}

.resultPopover {
  transition: all .2s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include background-color("white");
  border: 3px solid;
  border-radius: $border-radius;
  @include border-color("success");
  padding: 1rem;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultDetails {
  font-size: 1.25em;
  font-weight: 600;
}