@import '~variables';

.messageEntry {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.user {
  display: inline-flex;
  align-items: center;
}

.username {
  font-weight: bold;
  @include  color($gray-700);
  margin-right: 0.5rem;
  cursor: pointer;
}

.username_friend {
  @include color($info);
}

.message {
  word-break: break-all;
  word-break: break-word; // For chrome
  hyphens: auto;
}

.time {
  font-size: 0.75em;
  color: $gray-dark;
  white-space: nowrap;
}

.message_bot {
  color: $info
}

.tooltip {
  z-index: 20000;
  max-width: 100rem;
}

.message_button {
  @include remove-default-button-style();
  text-decoration: underline;
}
