@import 'variables';

.notification {
  font-family: inherit !important;
}

:global {
  .Toastify__toast--error {
    @include background-color("danger");
  }

  .Toastify__toast--success {
    @include background-color("success");
  }

  .Toastify__toast--info {
    @include background-color("info");
  }
}