@import "~variables";

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @include background-color("300");
}

.tiles {
  max-width: 35rem;
  padding: 1rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}