// variables of reusable components
// normally you don't need to edit it.
// important theme vars are in variables.scss

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

$body-bg--night:                   $gray-100--night !default;
$body-color--night:                $gray-900--night !default;

// Links
$link-color:                theme-color("primary") !default;
$link-hover-color:          darken($link-color, 15%) !default;

$link-color--night:                $primary--night !default;
$link-hover-color--night:          darken($link-color--night, 15%) !default;


// Components
//
// Define common padding and border radius sizes and more.
$border-color:                $gray-300 !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;

$border-color:                $gray-300--night !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black--night, .075) !default;
$box-shadow:                  0 .5rem 1rem rgba($black--night, .15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black--night, .175) !default;

$component-active-color:      $white--night !default;
$component-active-bg:         $primary--night !default;

$border-color--night:                $gray-300--night !default;

$box-shadow-sm--night:               0 .125rem .25rem rgba($black--night, .075) !default;
$box-shadow--night:                  0 .5rem 1rem rgba($black--night, .15) !default;
$box-shadow-lg--night:               0 1rem 3rem rgba($black--night, .175) !default;

$component-active-color--night:      $white--night !default;
$component-active-bg--night:         $primary--night !default;

$border-color--night:                $gray-300--night !default;

$box-shadow-sm--night:               0 .125rem .25rem rgba($black--night, .075) !default;
$box-shadow--night:                  0 .5rem 1rem rgba($black--night, .15) !default;
$box-shadow-lg--night:               0 1rem 3rem rgba($black--night, .175) !default;

$component-active-color--night:      $white--night !default;
$component-active-bg--night:         $primary--night !default;

//// Fonts
$text-muted:                  $gray-600 !default;

$headings-color:              inherit !default;
$blockquote-small-color:      $gray-600 !default;

$hr-border-color:             rgba($black, .1) !default;

$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25) !default;


$text-muted--night:                  $gray-600--night !default;

$headings-color--night:              inherit !default;
$blockquote-small-color--night:      $gray-600--night !default;

$hr-border-color--night:             rgba($black--night, .1) !default;

$kbd-box-shadow--night:              inset 0 -.1rem 0 rgba($black--night, .25) !default;


// Input Button
$input-btn-focus-width:       .2rem !default;
$input-btn-focus-color:       rgba($component-active-bg, .25) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$input-btn-focus-color--night:       rgba($component-active-bg--night, .25) !default;
$input-btn-focus-box-shadow--night:  0 0 0 $input-btn-focus-width $input-btn-focus-color--night !default;


// Button
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-link-disabled-color:     $gray-600 !default;


$btn-box-shadow--night:              inset 0 1px 0 rgba($white--night, .15), 0 1px 1px rgba($black--night, .075) !default;
$btn-focus-box-shadow--night:        $input-btn-focus-box-shadow--night !default;
$btn-active-box-shadow--night:       inset 0 3px 5px rgba($black--night, .125) !default;

$btn-link-disabled-color--night:     $gray-600--night !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.
$table-bg:                    transparent !default;
$table-accent-bg:             rgba($black, .05) !default;
$table-hover-bg:              rgba($black, .075) !default;
$table-active-bg:             $table-hover-bg !default;

$table-border-color:          $gray-300 !default;

$table-head-bg:               $gray-200 !default;
$table-head-color:            $gray-700 !default;

$table-dark-bg:               $gray-900 !default;
$table-dark-accent-bg:        rgba($white, .05) !default;
$table-dark-hover-bg:         rgba($white, .075) !default;
$table-dark-border-color:     lighten($gray-900, 7.5%) !default;
$table-dark-color:            $body-bg !default;

$table-striped-order:         odd !default;

$table-caption-color:         $text-muted !default;

$table-bg--night:                    transparent !default;
$table-accent-bg--night:             rgba($black--night, .05) !default;
$table-hover-bg--night:              rgba($black--night, .075) !default;
$table-active-bg--night:             $table-hover-bg--night !default;

$table-border-color--night:          $gray-300--night !default;

$table-head-bg--night:               $gray-200--night !default;
$table-head-color--night:            $gray-700--night !default;

$table-dark-bg--night:               $gray-900--night !default;
$table-dark-accent-bg--night:        rgba($white--night, .05) !default;
$table-dark-hover-bg--night:         rgba($white--night, .075) !default;
$table-dark-border-color--night:     lighten($gray-900--night, 7.5%) !default;
$table-dark-color--night:            $body-bg--night !default;

$table-striped-order--night:         odd !default;

$table-caption-color--night:         $text-muted--night !default;


// Forms
$input-bg:                              $white !default;
$input-disabled-bg:                     $gray-200 !default;

$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075) !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              lighten($component-active-bg, 25%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $gray-600 !default;
$input-plaintext-color:                 $body-color !default;

$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $gray-200 !default;
$input-group-addon-border-color:        $input-border-color !default;

$input-bg--night:                              $white--night !default;
$input-disabled-bg--night:                     $gray-200--night !default;

$input-color--night:                           $gray-700--night !default;
$input-border-color--night:                    $gray-400--night !default;
$input-box-shadow--night:                      inset 0 1px 1px rgba($black--night, .075) !default;

$input-focus-bg--night:                        $input-bg--night !default;
$input-focus-border-color--night:              lighten($component-active-bg--night, 25%) !default;
$input-focus-color--night:                     $input-color--night !default;
$input-focus-box-shadow--night:                $input-btn-focus-box-shadow--night !default;

$input-placeholder-color--night:               $gray-600--night !default;
$input-plaintext-color--night:                 $body-color--night !default;

$input-group-addon-color--night:               $input-color--night !default;
$input-group-addon-bg--night:                  $gray-200--night !default;
$input-group-addon-border-color--night:        $input-border-color--night !default;



// Form validation
$form-feedback-valid-color--night:         $success--night !default;
$form-feedback-invalid-color--night:       $danger--night!default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg:                       $white !default;
$dropdown-border-color:             rgba($black, .15) !default;
$dropdown-divider-bg:               $gray-200 !default;
$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:            $gray-100 !default;

$dropdown-link-active-color:        $component-active-color !default;
$dropdown-link-active-bg:           $component-active-bg !default;

$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-header-color:             $gray-600 !default;

$dropdown-bg--night:                       $white--night !default;
$dropdown-border-color--night:             rgba($black--night, .15) !default;
$dropdown-divider-bg--night:               $gray-200--night !default;
$dropdown-box-shadow--night:               0 .5rem 1rem rgba($black--night, .175) !default;

$dropdown-link-color--night:               $gray-900--night !default;
$dropdown-link-hover-color--night:         darken($gray-900--night, 5%) !default;
$dropdown-link-hover-bg--night:            $gray-200--night !default;

$dropdown-link-active-color--night:        $component-active-color--night !default;
$dropdown-link-active-bg--night:           $component-active-bg--night !default;

$dropdown-link-disabled-color--night:      $gray-600--night !default;

$dropdown-header-color--night:             $gray-600--night !default;



// Tooltips
$tooltip-color:                     $white !default;
$tooltip-bg:                        $black !default;
$tooltip-arrow-color:               $tooltip-bg !default;

$tooltip-color--night:                     $white--night !default;
$tooltip-bg--night:                        $black--night !default;
$tooltip-arrow-color--night:               $tooltip-bg--night !default;



// Popovers
$popover-bg:                        $white !default;
$popover-border-color:              rgba($black, .2) !default;
$popover-box-shadow:                0 .25rem .5rem rgba($black, .2) !default;

$popover-header-bg:                 darken($popover-bg, 3%) !default;
$popover-header-color:              $headings-color !default;

$popover-body-color:                $body-color !default;
$popover-arrow-color:               $popover-bg !default;

$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;

$popover-bg--night:                        $white--night !default;
$popover-border-color--night:              rgba($black--night, .2) !default;
$popover-box-shadow--night:                0 .25rem .5rem rgba($black--night, .2) !default;

$popover-header-bg--night:                 darken($popover-bg--night, 3%) !default;
$popover-header-color--night:              $headings-color--night !default;

$popover-body-color--night:                $body-color--night !default;
$popover-arrow-color--night:               $popover-bg--night !default;

$popover-arrow-outer-color--night:         fade-in($popover-border-color--night, .05) !default;


// Modals

$modal-content-bg:                  $white !default;
$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .5 !default;
$modal-header-border-color:         $gray-200 !default;
$modal-footer-border-color:         $modal-header-border-color !default;

$modal-content-bg--night:                  $white--night !default;
$modal-content-border-color--night:        rgba($black--night, .2) !default;
$modal-content-box-shadow-xs--night:       0 .25rem .5rem rgba($black--night, .5) !default;
$modal-content-box-shadow-sm-up--night:    0 .5rem 1rem rgba($black--night, .5) !default;

$modal-backdrop-bg--night:                 $black--night !default;
$modal-backdrop-opacity--night:            .5 !default;
$modal-header-border-color--night:         $gray-200--night !default;
$modal-footer-border-color--night:         $modal-header-border-color--night !default;


// Progress bars
$progress-bg:                       $gray-200 !default;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1) !default;
$progress-bar-color:                $white !default;
$progress-bar-bg:                   theme-color("primary") !default;

$progress-bg--night:                       $gray-200--night !default;
$progress-box-shadow--night:               inset 0 .1rem .1rem rgba($black--night, .1) !default;
$progress-bar-color--night:                $white--night !default;
$progress-bar-bg--night:                   $primary--night !default;

// Close
$close-color:                       $black !default;
$close-text-shadow:                 0 1px 0 $white !default;

$close-color--night:                       $black--night !default;
$close-text-shadow--night:                 0 1px 0 $white--night !default;


// Navs
$nav-link-disabled-color:           $gray-600 !default;

$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$nav-pills-link-active-color:       $component-active-color !default;
$nav-pills-link-active-bg:          $component-active-bg !default;

$nav-divider-color:                 $gray-200 !default;


$nav-link-disabled-color--night:           $gray-600--night !default;

$nav-tabs-border-color--night:             $gray-300--night !default;
$nav-tabs-link-hover-border-color--night:  $gray-200--night $gray-200--night $nav-tabs-border-color--night !default;
$nav-tabs-link-active-color--night:        $gray-700--night !default;
$nav-tabs-link-active-bg--night:           $body-bg--night !default;
$nav-tabs-link-active-border-color--night: $gray-300--night $gray-300--night $nav-tabs-link-active-bg--night !default;

$nav-pills-link-active-color--night:       $component-active-color !default;
$nav-pills-link-active-bg--night:          $component-active-bg--night !default;

$nav-divider-color--night:                 $gray-200--night !default;

// navbar
$navbar-dark-color:                 rgba($white, .8) !default;
$navbar-dark-hover-color:           rgba($white, .9) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;

// custom label config
$label-margin-bottom: 0